# Игнорируем бинарные файлы и директории
/bin/
/out/
/dist/

# Игнорируем файлы зависимостей (если не используете go mod vendor)
/vendor/

# Игнорируем файлы, созданные IDE и редакторами
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Игнорируем файлы, созданные Go
# Исполняемые файлы (если они находятся в корне проекта)
*.exe
*.out
*.test

# Игнорируем кэш Go
/go-build/
/go-cache/

# Игнорируем файлы, созданные тестами
/coverage.txt
/profile.out

# Игнорируем файлы, созданные утилитами
.DS_Store
.env
.env.local
cmd/.env
/postgres_data